{{!-- <div class="driverbg">

    <div class="row d-flex justify-content-around">
        <div class="col-6">
            {{#each driver}}
            <div class=" drivercard" style="width: 18rem;">
                <img src="{{img}}" class="card-img-top" alt="...">
                <div class=" card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text"><strong>Date: </strong> {{date}}</p>
                    <p class="card-text"><strong>Team: </strong> {{team}}</p>

                    <a href="#" class="btn btn-primary">Watch {{team}} scuderi</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div> --}}

<div class="driverbg">

    <div class="container text-center">

        <div class="row d-flex justify-content-evenly"">

    {{#each driver}}
    <div class=" drivercard" style="width: 18rem;">
            <img src="{{img}}" class="card-img-top" alt="...">
            <div class=" card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text"><strong>Date: </strong> {{date}}</p>
                <p class="card-text"><strong>Team: </strong> {{team}}</p>

                <a href="#" class="btn btn-primary">Watch {{team}} scuderi</a>

            </div>
        </div>

        {{/each}}
    </div>

</div>
</div>